<!-- Start Footer -->
<footer class="bg-white" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3 pt-3">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">dija Shop</h2>
                <ul class="list-unstyled text-light footer-link-list">

                    <li>
                        <i class="fa fa-phone fa-fw bg-dark"></i>
                        <a class="text-decoration-none" href="#">000-000-0000</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw bg-dark"></i>
                        <a class="text-decoration-none" href="#">info@company.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-dark  border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Drinks</a></li>
                    <li><a class="text-decoration-none" href="#">Desert</a></li>
                    <li><a class="text-decoration-none" href="#">Vegetables</a></li>
                    <li><a class="text-decoration-none" href="#">Fruits</a></li>
                    <li><a class="text-decoration-none" href="#">Grains</a></li>
                    <li><a class="text-decoration-none" href="#">Protein food</a></li>

                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-dark border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-dark">
                        Copyright &copy; Ilaykum
                        | Designed by <a rel="sponsored" href="#" target="_blank">dija</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->